---
- name: Create Traefik directory
  file:
    path: /home/{{default_user}}/{{ CONTAINER_NAME }}/
    state: directory  

- name: Traefik config file
  template:
    src: traefik.yml.j2
    dest: /home/{{default_user}}/{{ CONTAINER_NAME }}/traefik.yml   

- name: Traefik
  docker_container:
    name: "{{ CONTAINER_NAME }}"
    image: "{{ IMAGE }}:{{ BUILD }}"
    pull: "true"
    recreate: "yes"
    cpu_period: "{{ DOCKER_CPU_PERIOD }}"
    cpu_quota: "{{ DOCKER_CPU_QUOTA }}"
    memory: "{{ DOCKER_MEMORY }}"
    state: "{{ CONTAINER_STATE }}"
    restart_policy: "unless-stopped"
    published_ports:
      - "0.0.0.0:80:80"
      - "0.0.0.0:443:443"
      - "0.0.0.0:8080:8080"
    volumes:
      - /home/{{default_user}}/{{ CONTAINER_NAME }}/traefik.yml:/etc/traefik/traefik.yml
      - /var/run/docker.sock:/var/run/docker.sock
    labels: 
      "{{ DOCKER_LABELS }}"